<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <catalog_ai>
            <settings>
                <openai_model>gpt-3.5-turbo</openai_model>
                <openai_max_tokens>1000</openai_max_tokens>
            </settings>
            <product>
                <short_description>write a very short product description for {{name}} to highlight reasoning for purchase, under 100 words</short_description>
                <description>write a detailed product description for {{name}} with features in bullet list, under 1000 words</description>
            </product>
            <advanced>
                <system_prompt>Be a content generator, just reply with the content, skip all introductions.</system_prompt>
                <temperature>0</temperature>
                <frequency_penalty>0</frequency_penalty>
                <presence_penalty>0</presence_penalty>
            </advanced>
            <debug>
                <debug_log>0</debug_log>
            </debug>
        </catalog_ai>
    </default>
</config>
