<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <catalog_ai>
            <settings>
                <openai_organization_id />
                <openai_key backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <openai_project_id />
                <openai_model>gpt-4o</openai_model>
                <openai_max_tokens>1000</openai_max_tokens>
            </settings>
            <product>
                <attribute_prompts>
                    <short_description>
                        <attribute>short_description</attribute>
                        <prompt>write a very short product description for {{name}} to highlight reasoning for purchase, under 100 words</prompt>
                        <enabled>1</enabled>
                    </short_description>
                    <description>
                        <attribute>description</attribute>
                        <prompt>write a detailed product description for {{name}} with features in bullet list, under 1000 words</prompt>
                        <enabled>1</enabled>
                    </description>
                    <meta_title>
                        <attribute>meta_title</attribute>
                        <prompt>write a concise SEO meta title for {{name}}, under 60 characters</prompt>
                        <enabled>1</enabled>
                    </meta_title>
                    <meta_keyword>
                        <attribute>meta_keyword</attribute>
                        <prompt>generate comma-separated SEO keywords for {{name}}, max 10 keywords</prompt>
                        <enabled>1</enabled>
                    </meta_keyword>
                    <meta_description>
                        <attribute>meta_description</attribute>
                        <prompt>write an SEO meta description for {{name}}, under 160 characters</prompt>
                        <enabled>1</enabled>
                    </meta_description>
                </attribute_prompts>
            </product>
            <advanced>
                <system_prompt>Be a content generator, just reply with the content, skip all introductions.</system_prompt>
                <temperature>0</temperature>
                <frequency_penalty>0</frequency_penalty>
                <presence_penalty>0</presence_penalty>
            </advanced>
        </catalog_ai>
    </default>
</config>
