<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="MageOS\CatalogDataAI\Api\Data\EnrichmentInterface" type="MageOS\CatalogDataAI\Model\Enrichment" />
    <preference for="MageOS\CatalogDataAI\Api\Data\EnrichmentSearchResultsInterface" type="Magento\Framework\Api\SearchResults" />
    <preference for="MageOS\CatalogDataAI\Api\EnrichmentRepositoryInterface" type="MageOS\CatalogDataAI\Model\EnrichmentRepository" />

    <type name="Magento\Config\Model\Config\TypePool">
        <arguments>
            <argument name="sensitive" xsi:type="array">
                <item name="catalog_ai/settings/openai_organization_id" xsi:type="string">1</item>
                <item name="catalog_ai/settings/openai_key" xsi:type="string">1</item>
                <item name="catalog_ai/settings/openai_project_id" xsi:type="string">1</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="MageOS\CatalogDataAI\Model\ResourceModel\Grid\Enrichment\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">catalogai_product_enrichment</argument>
            <argument name="resourceModel" xsi:type="string">MageOS\CatalogDataAI\Model\ResourceModel\Enrichment</argument>
        </arguments>
    </virtualType>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="catalogai_enrichment_listing_data_source" xsi:type="string">MageOS\CatalogDataAI\Model\ResourceModel\Grid\Enrichment\Collection</item>
            </argument>
        </arguments>
    </type>
</config>
