<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="catalog_data_ai" frontName="catalog_data_ai">
            <module name="MageOs_CatalogDataAi" before="Magento_Backend"/>
        </route>
    </router>
</config>
